@media (min-width: 992px) { 
    .container {
        width: 700px;
    }
}


.current-tasks {
    background-color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 200px;
    
}

.create-task {
    padding-bottom: 10px;
}

.material-icons {
    cursor: pointer;
}

.complete-column {
    text-align: center;
}