<div class="current-tasks">
    <div class="view-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Current Tasks</h2>
            </div>
        </div>
    </div>
    <form name="createTask" class="create-task">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="taskDescription" class="form-control" placeholder="Enter task description" ng-model="home.task.description" required/>
                <div role="alert">
                  <span class="error" ng-show="createTask.taskDescription.$error.required">Required!</span>
                </div>
            </div>
            <div class="col-md-4">
                <select id="priority" class="form-control" ng-model="home.task.priority">
                    <option disabled selected value>Select a priority</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" ng-click="home.addTask()">Add</button>
            </div>
        </div>
    </form>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Priority</th>
            <th>Click to Complete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in home.tasks | filter:{ status: 'active' }" ng-hide="task.hide">
            <td>{{ task.description }}</td>
            <td>{{ task.priority }}</td>
            <td><i class="material-icons" ng-click="home.completeTask(task)">done</i></td>
        </tr>
    </tbody>
</table>
</div>
